$prefix = countdown
$btnStartBgColor = #3e95fa
$btnStartColor   = #fff

.{$prefix}

  .seconds-input-holder
    margin-top 10%
    width 40%

  .btn-start
    background $btnStartBgColor
    color $btnStartColor
    margin-top 1%