$prefix = buttons-holder

$btnStartBgColor     = #3e95fa
$btnStartColor       = #fff
$btnPauseBgColor     = #97969a
$btnPauseColor       = #fff
$btnClearBgColor     = #fff
$btnClearBorderColor = red
$btnClearColor       = $btnClearBorderColor

.{$prefix}
  width 30%
  margin-top 10%

  .btn
    width 40%

    &.btn-start, &.btn-pause
      float left

    &.btn-start
      background $btnStartBgColor
      color $btnStartColor

    &.btn-pause
      background $btnPauseBgColor
      color $btnPauseColor

    &.btn-clear
      float right
      background $btnClearBgColor
      border 1px solid $btnClearBorderColor
      color $btnClearColor