$prefix       = time
$bgColor      = #c0e0fa
$borderColor  = #475cfa
$numbersColor = #fff

.{$prefix}
  width 150px
  height 150px
  border-radius 50%
  border 1px solid $borderColor
  background $bgColor

  .numbers-holder
    height 100%
    display flex
    flex-direction column
    justify-content center

    p
      margin 0
      color $numbersColor
      font-size 2em
      font-weight 200