$prefix = header
$brandColor = ivory
$linkColor  = royalblue

.{$prefix}

  .navbar-inverse
    border-radius 0

    .navbar-brand
      color $brandColor

    .navbar-collapse

      .nav.navbar-nav li a
        background inherit
        color $linkColor

      .nav.navbar-nav li.active a
        font-weight bold